
@font-face {
    font-family: "coastgane";
    src: url(assets/fonts/coastgane.woff2);
}
@font-face {
    font-family: "cagke";
    src: url(assets/fonts/cagke.woff2);
}
@font-face {
    font-family: "canopee";
    src: url(assets/fonts/canopee.woff2);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color:  rgba(245, 245, 245, 0.804);
    font-family: "cagke";
}

html , body{
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    background-color: #151515;
}
#cursor{
    height: 2vw;
    width: 2vw;
    background: white;
    border-radius: 50%;
    position: fixed;
    z-index: 9999;
    mix-blend-mode: difference;
    transform: translate(-50%, -50%);
}
#loader{
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 999;
    background-color: #070707;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    overflow-y: hidden;
}
#loader h1{
    padding: 5vh 0;
    font-size: 15vh;
    font-family: "canopee";
    font-weight: 400;
}
#counter{
    position: absolute;
    top: 100%;
    left: 100%;
    transform: translate(-100%, -100%);
    padding: 5vh 2vw;
}
#counter h2{
    font-size: 6vh;
    font-family: "coastgane";
    font-weight: 700;
}
#main{
    position: relative;
    scroll-behavior: smooth;
    background-color: #070707;
}
#page1{
    height: 100vh;
    width: 100%;
    background-color: #151515;
}
#page2, #page3, #page4, #page5, #workflow, #journey{
    height: 100vh;
    width: 100%;
    background-color: #151515;
    padding: 4vw 0vw;
}
#nav{
    padding: 1.5vw 2.2vw;
    display: flex;
    align-items:end;
    justify-content: space-between;
    border-bottom: 1px solid rgba(245, 245, 245, 0.739);
    margin-bottom: 2vw;
}
#nav h1{
    font-family: "canopee";
    font-weight: 400;
    font-size: 1.5vw;
}
#nav2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.7vw;
}
#nav2 a{
    text-decoration: none;
    font-size: 1vw;
    font-family: "coastgane";
    text-transform: uppercase;
    font-weight: 100;
}
a:hover{
    color: #383efd;
}
#hero{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70vh;
    /* background-color: red; */
}
#hero h1{
    font-family: "coastgane";
    text-transform: uppercase;
    line-height: 7vw;
    font-size: 3vw;
    /* letter-spacing: 1.5px; */
    font-weight: 500;
}
#hero h3{
    font-family: "cagke";
    font-weight: 500;
    color: #f5f5f5bc;
    font-size: 1.3vw;
}


#page2{
    padding: 0vw 2vw;
    padding-bottom: 5vw;
}
#top{
    height: 17%;
    width: 100%;
}
#top h1{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    font-family: "coastgane";
    font-weight: 400;
    font-size: 2vw;
    letter-spacing: -0.2px;
    padding-right: 1vw;
}
#top i{
    font-size: 2.7vw;
    color: #383efd;
    font-weight: lighter;
}
#bottom{
    height: 83%;
    width: 100%;
    display: flex;
    align-items: center;
}
#img2 img:hover{
    transform: scale(1.1);
}
#img2 img{
    transition: transform 0.5s ease; /* Adjust the duration and timing function as needed */
}
#left{
    height: 100%;
    width: 70%;
    display: flex;
    align-items: center;
    gap: 3vw;
}
#img1{
    height: 90%;
    width: 33%;
    position: relative;
    cursor: pointer;
}
#img1 img{
    position: absolute;
}
#img1 #gif{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}
#img1 img:hover img{
    opacity: 0;
}
#img2{
    height: 37%;
    width: 20%;
}
#right{
    height: 90%;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
}
#img3{
    height: 202px;
    width: 202px;
    margin-right: 1vw;
}
#img3 a{
    float: right;
    color: #383efd;
    padding-top: 0.8vw;
    font-size: 1.4vw;
    text-decoration: none;

}
#img3 i{
    color: #383efd;
}
img{
    height: 100%;
    width: 100%;
    cursor: pointer;
}
#img1 img:first-child {
    opacity: 0; /* Initially hide the gif */
    transition: opacity 0.3s ease; /* Smooth transition for appearance */
}

#img1:hover img:first-child {
    opacity: 1; /* Show the gif on hover */
}

#img1 img:last-child {
    opacity: 1; /* Initially show the regular image */
    transition: opacity 0.3s ease;
}

#img1:hover img:last-child {
    opacity: 0; /* Hide the regular image on hover */
}

#page3{
    padding:5vw 2vw;
    padding-bottom: 15vw;
}
#about{
    display: flex;
    align-items: center;
    flex-direction: column;
}

#about h3{
    font-weight: lighter;
    color: #f5f5f596;
    font-size: 2.1vw;
    padding: 2.2vw 4vw;
    line-height: 3vw;
    text-align:justify;
}
#about span {
    padding-top: 1vw;
    width: 100%;
    font-weight: lighter;
    color: #f5f5f596;
    font-size: 2.1vw;
    padding-left: 4vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#about a{
    font-size: 1.3vw;
    color: #383efd;
    padding-right: 4vw;
    text-decoration: none;
    list-style: none;
    float: right;
}
#about i{
    font-size: 1.4vw;
    color: #383efd;
    font-weight: lighter;
    padding-left: 0.1vw;
}
#services{
    padding: 4vw 4vw;
    padding-top: 10vw;
    overflow: hidden;
    margin-left: 4vw;
    margin-right: 4vw;
}
#names{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4vw;
    white-space: nowrap;
    animation: scroll 10s infinite linear;
    transition: all ease 0.3s;
}
#names h4{
    color: #e6e1e1;
    font-size: 1.7vw;
    font-weight: 500;
    text-transform: uppercase;
    font-family: "coastgane";
}
@keyframes scroll {
    from{
        transform: translateX(0%);
    }
    to{
        transform: translateX(-100%);
    }
}
#page4{
    height: fit-content;
    padding: 2vw;
}
#projects{
    columns: 400px;
}
#projects img{
    margin-bottom: 1vw;
}
#projects button{
    background-color: #383efd;
    color:#e6e1e1;
    padding: 0.5vw 1.2vw;
    font-size: 1.2vw;
    border: none;
    cursor: pointer;
    float: right;
}
button i{
    color: #e6e1e1;
    margin-left: 0.5vw;
}
#workflow{
    height: 100vh;
    width: 100%;
    padding: 2vw;
    display: flex;
    background-color: #151515;
    flex-direction: column; 
    justify-content: space-between; 
    align-items: center;
}
#boxes{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.4vw;
    margin-top: 0.5vw;
    padding: 0vw 1vw;
}
.box{
    height: 100%;
    width: 20%;
    border: 0.2px solid #e6e1e1cd;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2vw 1vw;
    text-align: center;
    border-radius: 0.8vw;
}
.box #no{
    font-size: 10vw;
    font-family: "coastgane";
}
.box h3{
    font-family: "coastgane";
    font-weight: 600;
    text-transform: uppercase;
    font-size: 1.5vw;
    margin-bottom: 4vw;
}
.box p{
    align-items: flex-end;
    font-family: "cagke";
    font-size: 1.11vw;
    width: 100%;
    color: #e6e1e1c9;
}
.box:hover{
    background-color: #4146c4;
    cursor: pointer;
}
#team{
    height: 100vh;
    width: 100%;
    flex-direction: column;
    background-color: #151515;
    padding: 5vw 3vw;
    padding-bottom: 10vw;
}
#team h1, #page5 h1, #companies h1, #journey h1, #testimonals h1, #workflow h1{
    font-family: "coastgane";
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-weight: 400;
    font-size: 2vw;
    letter-spacing: -0.2px;
}
#team i, #page5 i, #companies i, #testimonals i, #workflow i, #journey i{
    color: #383efd;
    font-size: 2.7vw;
}
#team-imgs{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    gap: 1vw;
}

#person1, #person2, #person3, #person4{
    height: 98%;
    width: 33%;
    border-radius: 2px;
}
#team-imgs img {
    width: 100%;
    filter: grayscale(100%);
    transition: filter 1s ease;
    object-fit: cover;
    object-position: center;
    border-radius: 2px;
}
  
#team-imgs img:hover {
    filter: grayscale(2%);
    cursor: pointer;
}
#team h3{
    font-family: "cagke";
    font-weight: 500;
    color: rgba(245, 245, 245, 0.739);
    font-size: 1.3vw;
    width: 100%;
    text-align: right;
    padding: 2vw 0vw;
}
#journey{
    padding: 2vw;
    padding-top: 8vw;
    padding-bottom: 3vw;
    height: fit-content;
}

#parts{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2vw;
    padding: 1vw;
    padding-top: 0;
    margin-top: -1.8vw;
}
#left-part{
    height: 50%;
    width: 70%;
    display: flex;
    flex-direction: column;
}
#left-part .box{
    height: 100%;
    width: 25%;
    align-items: center;
    display: flex;
    border: none;
    justify-content: center;
}
#up{
    display: flex;
    gap: 1vw;
    margin-bottom: 1.4vw;
    text-wrap: nowrap;
}
#right-part{
    height: 100%;
    width: 30%;
}
#right-part p{
    font-family: "cagke";
    font-size: 1.3vw;
    width: 100%;
    color: #e6e1e1c9;
    padding: 2vw 0vw;
    line-height: 1.8vw;
}
#parts .box{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
#number{
    font-size: 2.8vw;
    font-weight: 100;
    color: rgba(245, 245, 245, 0.739);
    margin-bottom: 1.2vw;

}
#parts h3{
    text-transform: capitalize;
    font-weight: 100;
    font-size: 1.7vw;
    color: rgba(245, 245, 245, 0.739);
}
#parts .box:hover{
    background-color: transparent;
}
#number:hover{
    color: #4146c4;
}
#companies {
    height: 70vh;
    width: 100%;
    padding: 2vw;
    display: flex;
    flex-direction: column; 
    justify-content: space-between; 
    background-color: #151515;
    align-items: center;
    padding-bottom: 10vw;
}
#companies h1, #testimonals h1, #workflow h1, #journey h1{
    width: 100%;
    text-align: right;
    margin-bottom: 2vw;
    font-family: "coastgane";
    font-weight: 400;
    font-size: 2vw;
    letter-spacing: -0.2px;
    padding-right: 1vw;
}

#sections {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 60%;
    padding-top: 2vw;
}

#sections img {
    height: 4vw;
    border-radius: 5px;
}

#section1, #section2 {
    height: 50%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 2.2vw 8vw;
    margin-bottom: 1.5vw;
    width: 100%;
    gap: 4.5vw;
}

#page5{
    padding:3vw 2vw;
    padding-top: 1vw;
    min-height: fit-content;
    background-color: #151515;
    width: 100%;
    min-height: fit-content;
    height: 70vh;
    
} 

.faq-section {
    margin: 3vw 0vw;
    margin-bottom: 0vw;
    border: 1px solid #f5f5f53d;
    border-radius: 2px;
}

.faq {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5vw 1vw;
    cursor: pointer;
    border: none;
    outline: none;
    background-color: transparent;
    width: 100%;
    transition: 0.4s;
}

.faq i {
    font-size: 1vw;
    font-weight: 100;
    color: #e6e1e1;
    transition: transform 0.3s ease;
}

.rotate {
    transform: rotate(180deg);
    transition: transform 0.3s ease;
}

.faq h3 {
    font-family: 'coastgane';
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.4vw;
}

.answers {
    padding: 1vw;
    font-weight: 100;
    color: #f5f5f5a0;
    width: 100%;
    overflow: hidden;
    display: none;
    margin-bottom: 1vw;
    font-size: 1.3vw;
}

.active .answers {
    display: block;
    padding-top: 0.5vw;
}
#testimonals {
    height: fit-content;
    width: 100%;
    padding: 2vw;
    background-color: #151515;
    padding-bottom: 4vw;
}
#box-container{
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
    gap: 0.5vw;
}
#box-container img{
    height: 100%;
    padding: 1vw;
    width: 80%;
    object-fit: cover;
    object-position: center;
}
footer{
    height: 45vh;
    width: 100%;
    color:#e6e1e1;
    background-color: #151515;
    padding-top: 9vw;
    display: flex;
    justify-content: space-between;
    padding: 2vw;
    gap: 1vw;
}
#lft{
    height: 95%;
    width: 20%;
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    padding: 1vw;
    background-color:  #4146c4;
}
#lft #content{
    display: flex;
    flex-direction: column;
    width: 100%;
}
#lft h1{
    font-family: "canopee";
    font-weight: 500;
    font-size: 2.5vw;
    height: fit-content;
    width: 100%;
    margin-bottom: 3vw;
    color: #e6e1e1;
}
#lft h3{
    font-weight: 900;
    font-family: 'coastgane';
    color: #e6e1e1;
    font-size: 1.3vw;
    width: 100%;
    margin-bottom: 1vw;
}
#lft h4{
    width: 100%;
    margin-bottom: 0.5vw;
    font-family: "cagke";
    font-weight: 100;
    color: #e6e1e1;
    font-size: 1.1vw;
    cursor: pointer;
}
#rgt{
    width: 80%;
    height: 100%;
    border-radius: 2px;
    gap: 1vw;
}
#rgt #part1{
    height: 22%;
    width: 100%;
    background-image: url(https://i.pinimg.com/564x/67/bb/88/67bb8880582c98c6c39e8f87fe845231.jpg);
    border-radius: 2px;
    padding: 0vw 1vw;
    display: flex;
    align-items: center;
}
#rgt #part2{
    height: 95%;
    width: 100%;
    background-color: #4146c4;
    border-radius: 2px;
    padding: 1vw;
}
#part2 h3{
    font-family: 'coastgane';
    font-weight: 600;
    font-size: 1.8vw;
    padding-top: 0.5vw;
    text-transform: uppercase;
    color: #e6e1e1;
    padding-bottom: 0.2vw;
}
#part2 h4, #team h4{
    font-weight: 200;
    font-family: 'cagke';
    color: #e6e1e1e3;
    font-size: 1.40vw;
    width: 100%;
    padding-bottom: 1vw;
}
#btm{
    padding: 2vw;
    padding-top: 0vw;
    background-color: #151515;
    padding-bottom: 4vw;
    
}
#part3{
    height: 10vh;
    width: 100%;
    background-color: #4146c4;
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1vw;
} 
#part3 h4{
    font-family: 'coastgane';
    font-weight: 900;
    text-transform: uppercase;
    font-size: 1.05vw;
    cursor:pointer;
}

#btns{
    display: flex;
    padding: 2vw 0vw;
    padding-bottom: 1.5vw;
}
#btns button{
    color: #383efd;
    background-color:#e6e1e1;
    padding: 0.5vw 1.2vw;
    font-size: 1.1vw;
    border: none;
    margin-right: 1vw;
    border-radius: 2px;
    cursor: pointer;
}
footer i, #hero i{
    color: #383efd;
    margin-right: 0.5vw;
    font-size: 1.2vw;
}

#check{
    transform: scale(1.50); 
    margin-right: 0.5vw;
    margin-top: 2vw;
}
#part2 h4{
    font-size: 1.3vw;
}
@media (max-width: 600px)
{
    *{
        overflow-x: hidden;
    }
    #loader h1{
        padding: 5vh 0;
        font-size: 10vh;
        font-family: "canopee";
    }
    #nav{
        height: 8vh;
        display: flex;
        align-items: center;
        padding: 4vw;

    }
    #nav h1{
        font-size: 6vw;
    }
    #nav2{
        display: none;
    }
    
    #hero{
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 80vh;
    }
    #hero h1{
        font-family: "coastgane";
        text-transform: uppercase;
        line-height: 10vw;
        font-size: 5.5vw;
        font-weight: 500;
    }
    #hero h3{
        font-family: "cagke";
        font-weight: 500;
        color: rgba(245, 245, 245, 0.739);
        font-size: 3.1vw;
        padding: 1.5vw;
    }
        
    #page2{
        height: 110vh;
        width: 100%;
        padding: 0vw 3vw;
    }
    #top{
        height: 8%;
        width: 100%;
    }
    #top h1{
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: end;
        font-family: "coastgane";
        font-weight: 400;
        font-size: 4vw;
        letter-spacing: -0.2px;
        padding-right: 2vw;
    }
    #top i{
        font-size: 5vw;
        color: rgba(245, 245, 245, 0.691);
        font-weight: lighter;
    }
        
    #bottom{
        height: fit-content;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
    }
    #left{
        height: fit-content;
        width: 100%;
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #img1{
        height: fit-content;
        width: 100%;
        overflow-y: hidden;
        display: block;
    }
    #img2{
        height: 380px;
        width: 100%;
        margin-bottom: 2vw;
        overflow-y: hidden;
    } 
    #right{
        width: 100%;
        height: fit-content;
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    #img3{
        height: fit-content;
        width: 100%;
        margin-right: 0;
        margin-top: 2vw;
    }
    img{
        height: 100%;
        width: 100%;
    }
    #img3 a{
        padding-top: 1.5vw;
        font-size: 4.5vw;
    }
    #page2 i{
        color: #383efd;
    }
    
#page3{
    height: fit-content;
    padding:5vw 3vw;
}
#about h3{
    font-size: 4vw;
    padding: 2.2vw 4vw;
    line-height: 5vw;
    padding-top: 8vw;

}
#about span {
    padding-top: 2.2vw;
    font-size: 3.8vw;
    padding-left: 4vw;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
}
#about a{
    padding-top: 2.2vw;
    font-size: 4.5vw;
    padding-right: 4vw;
}
#about i{
    font-size: 4vw;
    padding-left: 0.1vw;
}

#services{
    padding: 8vw 4vw;
    padding-top: 10vw;
    overflow: hidden;
    margin-left: 4vw;
    margin-right: 4vw;
}
#names{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4vw;
    white-space: nowrap;
    animation: scroll 4s infinite linear;
    transition: all ease 0.3s;
}
#names h4{
    color: #e6e1e1;
    font-size: 4vw;
    font-weight: 500;
    text-transform: uppercase;
    font-family: "coastgane";
}

#workflow{
    height: max-content;
    width: 100%;
    flex-direction: column; 
}
#boxes{
    height: max-content;
    width: 100%;
    flex-direction: column;
    margin-top: 2vw;
    padding: 0vw 1vw;
}
.box{
    height: max-content;
    width: 100%;
    flex-direction: column;
    align-items: center;
    padding: 2vw 3vw;
    padding-bottom: 4vw;
    margin-bottom: 4vw;
}
.box #no{
    font-size: 15vw;
    margin-bottom: 0;
    padding-bottom: 0;
}
.box h3{
    font-size: 5vw;
    text-align: left;
    width: 100%;
}
.box p{
    font-size: 3.8vw;
    text-align: left;
    width: 100%;
}

#team{
    height: fit-content;
    width: 100%;
    flex-direction: row;
    background-color: #151515;
    padding: 5vw 3vw;
    padding-bottom: 10vw;
    padding-top: 10vw;
}
#team h1, #page5 h1, #companies h1, #workflow h1{
    font-size: 5.5vw;
    padding-bottom:5vw;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
#team i, #page5 i, #companies i, #testimonals i, #workflow i, #journey i{
    color: #383efd;
    font-size: 6vw;
}
#team-imgs{
    flex-direction: column;
    width: 100%;
    gap: 1vw;
}

#person1, #person2, #person3, #person4{
    height: 100%;
    width: 100%;
    margin-bottom: 1vw;
}
#team-imgs img {
    width: 100%;
    height: 80%;
}

#team h3{
    font-size: 2.5vw;
    text-align: justify;
    padding: 2vw 0vw;
    line-height: 4vw;
    margin-bottom: 2vw;
}

#page5{
    padding:3vw 2vw;
    min-height: fit-content;
    background-color: #151515;
    width: 100%;
    height: fit-content;
    padding-bottom: 7vw;
} 

.faq-section {
    margin: 3vw 0vw;
    margin-bottom: 7vw;
    border: 1px solid #f5f5f53d;
    border-radius: 2px;
    padding:  1vw;
}

.faq {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2.5vw 1.5vw;
    cursor: pointer;
    border: none;
    outline: none;
    background-color: transparent;
    width: 100%;
    transition: 0.4s;
}

.faq i {
    font-size: 1.5vw;
    font-weight: 100;
    color: #e6e1e1;
    transition: transform 0.3s ease;
}

.rotate {
    transform: rotate(180deg);
}

.faq h3 {
    font-family: 'coastgane';
    text-transform: uppercase;
    font-weight: 500;
    font-size: 3.1vw;
    text-align: left;
    line-height: 4vw;
    padding:1.5vw 0;

}

.answers {
    padding: 1.5vw;
    font-weight: 100;
    color: #f5f5f5a0;
    width: 100%;
    overflow: hidden;
    display: none;
    margin-bottom: 2vw;
    font-size: 3vw;
}

.active .answers {
    display: block;
    padding-top: 1vw;
}

#journey{
    padding: 2vw;
    padding-top: 8vw;
    padding-bottom: 20vw;
    height: fit-content;
}

#parts{
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0;
    padding: 1vw;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 4vw;
}
#left-part{
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}
#left-part .box{
    align-items: center;
    border: none;
    justify-content: center;
}
#up{
    display: flex;
    gap: 1vw;
    text-wrap: nowrap;
}
#right-part{
    height: fit-content;
    width: 100%;
    margin-top: -3vw;
}
#right-part p{
    font-size: 3.3vw;
    padding: 0vw 0vw;
    line-height: 4vw;
}
#parts .box{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
#number{
    font-size: 6vw;
    font-weight: 100;
    color: rgba(245, 245, 245, 0.739);
    margin-bottom: 1.5vw;

}
#parts h3{
    text-align: center;
    font-size: 2.8vw;
    text-wrap: wrap;
}
#companies {
    height: fit-content;
    width: 100%;
    padding: 2vw;
    display: flex;
    flex-direction: column; 
    justify-content: space-between; 
    background-color: #151515;
    align-items: center;
}
#companies h1, #testimonals h1, #journey h1{
    width: 100%;
    text-align: right;
    padding-bottom: 5vw;
    font-family: "coastgane";
    font-weight: 400;
    font-size: 5vw;
    letter-spacing: -0.2px;
    padding-right: 1vw;
}

#sections {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 60%;
    padding-top: 2vw;
}

#sections img {
    height: 7vw;
    border-radius: 5px;
}

#section1, #section2 {
    height: 50%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 2.2vw 2vw;
    margin-bottom: 10vw;
    width: 100%;
    gap: 7vw;
}

#testimonals {
    height: fit-content;
    width: 100%;
    padding: 2vw;
    background-color: #151515;
    padding-bottom: 8vw;
}
#testimonals h1{
    margin-bottom: 2vw;
    padding-top: 1vw;
}
#testimonals i{
    color: #505065;
    font-size: 4vw;
    padding-top: 1vw;
}
#box-container{
    padding-top: 2vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 50%;
    width: 100%;
    gap: 0.5vw;
}
#box-container img{
    height: 100%;
    padding: 1vw;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

footer{
    max-height: 25vh;
    width: 100%;
    color:#e6e1e1;
    background-color: #151515;
    padding-top: 9vw;
    display: flex;
    justify-content: space-between;
    padding: 2vw;
    padding-bottom: 0vw;
    gap: 1vw;
}
#lft{
    height: 95%;
    width: 30%;
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    padding: 1.8vw;
    background-color:  #4146c4;
}
#lft #content{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 1vw;
}
#lft h1{
    font-family: "canopee";
    font-weight: 500;
    font-size: 4.3vw;
    height: fit-content;
    width: 100%;
    padding-top: 2vw;
    margin-bottom: 5vw;
    color: #e6e1e1;
}
#lft h3{
    font-weight: 900;
    font-family: 'coastgane';
    color: #e6e1e1;
    font-size: 3vw;
    width: 100%;
    margin-bottom: 2vw;
}
#lft h4{
    width: 100%;
    margin-bottom: 0.8vw;
    font-family: "cagke";
    font-weight: 100;
    color: #e6e1e1;
    font-size: 3vw;
    cursor: pointer;
}
#rgt{
    width: 70%;
    height: 100%;
    border-radius: 2px;
    gap: 2vw;
}

#rgt #part2{
    height: 95%;
    width: 100%;
    background-color: #4146c4;
    border-radius: 2px;
    padding: 1.8vw;
}
#part2 h3{
    font-family: 'coastgane';
    font-weight: 600;
    font-size: 4.5vw;
    padding-top: 2vw;
    text-transform: uppercase;
    color: #e6e1e1;
    padding-bottom: 1vw;
}
#part2 h4, #team h4{
    font-weight: 200;
    font-family: 'cagke';
    color: #e6e1e1;
    width: 100%;
    padding-bottom: 1.1vw;
}

#btm{
    padding: 2vw;
    padding-top: 0vw;
    background-color: #151515;
    
}
#part3{
    height: 5vh;
    width: 100%;
    background-color: #4146c4;
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.8vw;
} 
#part3 h4{
    font-family: 'coastgane';
    font-weight: 900;
    text-transform: uppercase;
    font-size: 2.3vw;
    cursor:pointer;
}

#btns{
    display: flex;
    padding: 2vw 0vw;
    padding-bottom: 2vw;
    margin-top: 1.1vw;
}
#btns button{
    color: #383efd;
    background-color:#e6e1e1;
    padding: 1.2vw 2vw;
    font-size: 2.8vw;
    border: none;
    margin-right: 1.5vw;
    border-radius: 2px;
    cursor: pointer;
    margin-bottom: 2vw;
}
footer i, #hero i{
    color: #383efd;
    margin-right: 2vw;
    font-size: 3vw;
}
#check{
    gap: 1vw;
    display: none;
    transform: scale(1.4);
    margin-right: 4px;
    margin-top: 2vw;
    margin-left: 2px;
}

#part2 h4{
    font-size: 2.3vw;
    display: flex;
    align-items: center;
    line-height: 2.4vw;
    justify-content: space-between;
}
}

@media (min-width: 768px) and (max-width: 1024px) {
    #nav{
        height: 8vh;
        display: flex;
        align-items: center;

    }
    #nav h1{
        font-size: 4vw;
    }
    #nav2{
        display: none;
    }
    #hero{
        height: 90vh;
    }
    #hero h1{
        line-height: 8vw;
        font-size: 5.2vw;
    }
    #hero h3{
        font-size: 2.8vw;
        padding: 1.5vw 5vw;
    }
    
#page2{
    padding-bottom: 10vw;
}
#top{
    height: 25%;
}
#top h1, #workflow h1{
    font-size: 4vw;
    height: 100%;
    display: flex;
    align-items: center;
}
#top i, #workflow i{
    font-size: 4vw;
}
#bottom{
    height: 95%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}
#left{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10%;

}
#img1{
    height: 100%;
    width: 48%;
}
#img2{
    height: 60%;
    width: 40%;
}
#right{
    height: 40%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    padding-bottom: 10%;
}
#img3{
    height: 700px;
    width: 290px;
    margin-right: -0.3vw;
}
#img3 a{
    padding-top: 1vw;
    font-size: 3.3vw;

}
#img3 i{
    font-size: 3.3vw;
}
 
#page3{
    height: fit-content;
    padding:5vw 3vw;
    padding-top: 10vw;
}
#about h3{
    font-size: 3.3vw;
    line-height: 4.8vw;
    padding-top: 8vw;
}
#about span {
    padding-top: 2.8vw;
    font-size: 3.3vw;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}
#about a{
    padding-top: 2.8vw;
    font-size: 3.1vw;
}
#about i{
    font-size: 3.1vw;
}

#services{
    padding: 10vw 4vw;
    padding-top: 15vw;
}
#names{
    gap: 10vw;
    animation: scroll 6s infinite linear;
}
#names h4{
    font-size: 3.8vw;
}

#workflow{
    height: max-content;
    width: 100%;
    flex-direction: column; 
}
#boxes{
    height: max-content;
    width: 100%;
    flex-direction: column;
    margin-top: 8vw;
    padding: 0vw 1vw;
}
.box{
    height: max-content;
    width: 100%;
    flex-direction: column;
    align-items: center;
    padding: 2vw 3vw;
    padding-bottom: 4vw;
    margin-bottom: 4vw;
}
.box #no{
    font-size: 10vw;
    margin-bottom: 0;
    padding-bottom: 0;
}
.box h3{
    font-size: 3.5vw;
    text-align: left;
    width: 100%;
}
.box p{
    font-size: 3vw;
    text-align: left;
    line-height: 3.3vw;
    width: 100%;
}

#team{
    height: fit-content;
    flex-direction: row;
    padding-bottom: 10vw;
    padding-top: 10vw;
}
#team h1, #page5 h1, #companies h1, #workflow h1, #journey h1{
    font-size: 5.5vw;
    padding-bottom:5vw;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
#team i, #page5 i, #companies i, #testimonals i, #workflow i, #journey i{
    color: #383efd;
    font-size: 7vw;
}
#team-imgs{
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: red; */
    gap: 1vw;
}

#person1, #person2, #person3, #person4{
    width: 100%;
    height: fit-content;
    margin-bottom: 1vw;
}
#person3, #person2{
    display: none;
}

#team h3{
    font-size: 2.8vw;
    text-align: left;
    padding: 2vw 0vw;
    margin-bottom: 4vw;
}

#journey{
    padding: 2vw;
    padding-top: 8vw;
    padding-bottom: 20vw;
    height: fit-content;
}

#parts{
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0;
    padding: 1vw;
    padding-top: 0;
    padding-bottom: 0;
}
#left-part{
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}
#left-part .box{
    align-items: center;
    border: none;
    justify-content: center;
}
#up{
    display: flex;
    gap: 1vw;
    text-wrap: nowrap;
}
#right-part{
    height: fit-content;
    width: 100%;
    margin-top: -3vw;
}
#right-part p{
    font-size: 3vw;
    padding: 0vw 0vw;
    line-height: 4vw;
    width: 100%;
}
#parts .box{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
#number{
    font-size: 6vw;
    font-weight: 100;
    color: rgba(245, 245, 245, 0.739);
    margin-bottom: 1.5vw;
}
#parts h3{
    text-align: center;
    font-size: 2.8vw;
    text-wrap: wrap;
}

#companies {
    height: fit-content;
    width: 100%;
    padding: 2vw;
    display: flex;
    flex-direction: column; 
    justify-content: space-between; 
    background-color: #151515;
    align-items: center;
    padding-top: 10vw;
    padding-bottom: 8vw;
}
#companies h1, #testimonals h1, #journey h1{
    width: 100%;
    text-align: right;
    padding-bottom: 5vw;
    font-family: "coastgane";
    font-weight: 400;
    font-size: 5vw;
    letter-spacing: -0.2px;
    padding-right: 1vw;
}

#sections {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 60%;
    padding-top: 2vw;
}

#sections img {
    height: 7vw;
    border-radius: 5px;
}

#section1, #section2 {
    height: 50%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 2.2vw 2vw;
    margin-bottom: 10vw;
    width: 100%;
    gap: 7vw;
}

#testimonals {
    height: 10%;
    width: 100%;
    padding: 2vw;
    background-color: #151515;
    padding-bottom: 8vw;
}
#testimonals h1{
    margin-bottom: 2vw;
}
#testimonals i{
    font-size: 4vw;
}
#box-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 10%;
    width: 100%;
    gap: 0.5vw;
}
#box-container img{
    height: 20%;
    padding: 1vw;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

#page5{
    padding:3vw 2vw;
    min-height: fit-content;
    background-color: #151515;
    width: 100%;
    height: fit-content;
    padding-bottom: 7vw;
} 

.faq-section {
    margin: 3vw 0vw;
    margin-bottom: 7vw;
    border: 1px solid #f5f5f53d;
    border-radius: 5px;
    padding:  1vw;
}

.faq {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2.5vw 1.5vw;
    cursor: pointer;
    border: none;
    outline: none;
    background-color: transparent;
    width: 100%;
    transition: 0.4s;
}

.faq i {
    font-size: 1.5vw;
    font-weight: 100;
    color: #e6e1e1;
    transition: transform 0.3s ease;
}

.rotate {
    transform: rotate(180deg);
}

.faq h3 {
    font-family: 'coastgane';
    text-transform: uppercase;
    font-weight: 500;
    font-size: 3vw;
    text-align: left;
    line-height: 4vw;
    padding:1.5vw 0;

}

.answers {
    padding: 1.5vw;
    font-weight: 100;
    color: #f5f5f5a0;
    width: 100%;
    overflow: hidden;
    display: none;
    margin-bottom: 2vw;
    font-size: 2.8vw;
}

.active .answers {
    display: block;
    padding-top: 1vw;
}

footer{
    max-height: 30.8vh;
    width: 100%;
    color:#e6e1e1;
    background-color: #151515;
    padding-top: 9vw;
    display: flex;
    justify-content: space-between;
    padding: 2vw;
    padding-bottom: 0vw;
    gap: 1vw;
}
#lft{
    height: 95%;
    width: 30%;
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    padding: 1.8vw;
    background-color:  #4146c4;
}
#lft #content{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 1vw;
}
#lft h1{
    font-family: "canopee";
    font-weight: 500;
    font-size: 4.3vw;
    height: fit-content;
    width: 100%;
    padding-top: 2vw;
    margin-bottom: 5vw;
    color: #e6e1e1;
}
#lft h3{
    font-weight: 900;
    font-family: 'coastgane';
    color: #e6e1e1;
    font-size: 3vw;
    width: 100%;
    margin-bottom: 2vw;
}
#lft h4{
    width: 100%;
    margin-bottom: 0.8vw;
    font-family: "cagke";
    font-weight: 100;
    color: #e6e1e1;
    font-size: 3vw;
    cursor: pointer;
}
#rgt{
    width: 70%;
    height: 100%;
    border-radius: 2px;
    gap: 2vw;
}

#rgt #part2{
    height: 95%;
    width: 100%;
    background-color: #4146c4;
    border-radius: 2px;
    padding: 1.8vw;
}
#part2 h3{
    font-family: 'coastgane';
    font-weight: 600;
    font-size: 4.5vw;
    padding-top: 2vw;
    text-transform: uppercase;
    color: #e6e1e1;
    padding-bottom: 1vw;
}
#part2 h4, #team h4{
    font-weight: 200;
    font-family: 'cagke';
    color: #e6e1e1;
    width: 100%;
    padding-bottom: 1.1vw;
}

#btm{
    padding: 2vw;
    padding-top: 0vw;
    background-color: #151515;
    
}
#part3{
    height: 5vh;
    width: 100%;
    background-color: #4146c4;
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.8vw;
} 
#part3 h4{
    font-family: 'coastgane';
    font-weight: 900;
    text-transform: uppercase;
    font-size: 2.3vw;
    cursor:pointer;
}

#btns{
    display: flex;
    padding: 2vw 0vw;
    padding-bottom: 2vw;
    margin-top: 1.1vw;
}
#btns button{
    color: #383efd;
    background-color:#e6e1e1;
    padding: 1.2vw 2vw;
    font-size: 2.8vw;
    border: none;
    margin-right: 1.5vw;
    border-radius: 2px;
    cursor: pointer;
    margin-bottom: 2vw;
}
footer i, #hero i{
    color: #383efd;
    margin-right: 2vw;
    font-size: 3vw;
}
#check{
    gap: 1vw;
    display: none;
    transform: scale(1.4);
    margin-right: 4px;
    margin-top: 2vw;
    margin-left: 2px;
}

#part2 h4{
    font-size: 2.3vw;
    display: flex;
    align-items: center;
    line-height: 2.4vw;
    justify-content: space-between;
}
        
    
}
